<h4 class="page-title text-success">Home Delivery Orders</h4>
<div class="table-responsive">
      <table class="table table-striped custom-table mb-0">
            <thead>
              <tr>
               <th>S.No</th>
                <th>Date</th>
                <th>userid</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Product</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let item of data1; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.cdate | date:'dd/MMM/YYYY' }}</td>
                <td>{{ item.regid }}</td>
                <td>{{ item.shiippingaddress }}</td>
                <td>{{ item.pincode }}</td>
                <td>{{ item.product }}</td>
                <!-- <td>
                  <span class="text-primary" *ngIf="item.deliverytype=='leader'">Leader To Delivery</span>
                   <span class="text-primary" *ngIf="item.deliverytype=='home'">Home Delivery</span>
                </td> -->
                <td>
                 <span class="text-danger" *ngIf="item.transstatus=='0'">Pending</span>
                   <span class="text-success" *ngIf="item.transstatus=='2'">Delivered</span>
                </td>
              </tr>
            </tbody>
          </table>
</div>
          