<app-menu-bar></app-menu-bar>

<div class="page-wrapper bg-wrapper">
    <div class="content" style="margin-top: -50px;">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center mb-3 d-flex flex-wrap justify-content-center">
              <button class="btn btn-outline-primary m-1" (click)="showSection('left')">Left Team</button>
                <button class="btn btn-outline-success m-1" (click)="showSection('right')">Right Team</button>
                <button class="btn btn-outline-danger m-1" (click)="showSection('tree')">Treeview</button>
            </div>
          </div>

          <div class="col-md-12" *ngIf="left">
                <app-left-team></app-left-team>
          </div>
          <div class="col-md-12 " *ngIf="right">
                <app-right-team></app-right-team>
          </div>
         <div class="col-md-12" *ngIf="tree">
    <app-tree-view [regid]="pfdata?.reg_id"></app-tree-view>
</div>



        </div>
    </div>
</div>