<div class="col-md-12">
    <div class="buy-form">
        <div class="row">
            <!-- Rows per page selector -->
                <div class="col-md-12">
                    <h4 class="page-title text-success">Matching Income</h4>
                </div>
                <div class="container">
                    <div class="row g-3">

                         <div class="table-responsive">
        <table class="table table-striped custom-table mb-0">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Userid</th>
              <th>Remark</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data1; let i = index">
              <td>{{  i + 1 }}</td>
              <td>{{ item.cdate | date:'dd/MMM/YYY' }}</td>
              <td>{{ item.amount | currency:'USD':true:'1.0-1' }}</td>
              <td>{{ item.forid }} </td>
              <td>Referral Income</td>
              <td>
                <span class="badge badge-success">Credit</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

                    </div>
                  </div>

          </div>
  
      
    </div>
  </div>