    <div class="card p-2 buy-form">
                    <h5 class="page-title text-danger">Deposit Wallet  </h5>
                      <form [formGroup]="form" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label">Deposit Amount ($)*</label>
                                    <input type="text" class="form-control floating" formControlName="amount" min="1">
                                    <div *ngIf="form.get('amount')?.touched">
                                      <span class="text-danger" *ngIf="form.get('amount')?.hasError('required')">
                                        Amount is required.
                                      </span>
                                      <span class="text-danger" *ngIf="form.get('amount')?.hasError('min')">
                                        Minimum transfer amount is $1.
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="focus-label">Enter Userid*</label>
                                    <input type="text" class="form-control floating" formControlName="regid" (keyup)="onRegisterIdSelect($event)">
                                      <span class="text-success">{{idselectmsg}}</span>
                                    <span class="text-danger">{{errorMessage}}</span>
                                     <span class="text-danger" *ngIf="form.get('regid')?.touched && form.get('regid')?.hasError('required')">
                                      Enter valid userid
                                    </span>
                                </div>
                            </div>

                             <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="focus-label">Txn ID</label>
                                        <input type="text" class="form-control floating" formControlName="transno" >
                                    </div>
                               </div>

                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="focus-label">note</label>
                                        <input type="text" class="form-control floating" formControlName="note" >
                                    </div>
                               </div>
                           
                            <div class="text-center m-t-20">
                                <button class="btn btn-primary submit-btn" (click)="add()" [disabled]="!form.valid" type="button">Submit</button>
                            </div>
                         </div>
                      </form>
                </div>