<div class="login-wrapper d-flex align-items-center justify-content-center">
  <div class="login-card shadow-lg">
    <div class="text-center mb-4">
      <img src="assets/logo.png" alt="Yohan Coin Logo" class="logo mb-2 center-logo">
      <h5 class="fw-bold text-white">Forgot Password</h5>
      <p class="text-light mb-0">Forgot to your <span class="text-warning">Yohan Coin</span> account</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="forgot()" novalidate>
      <div *ngIf="errorMessage" class="alert alert-danger text-center py-2">{{ errorMessage }}</div>

      <div class="form-group mb-3">
        <label class="text-white mb-1">User ID *</label>
        <input type="text" class="form-control" formControlName="regid" placeholder="Enter your User ID" autofocus>
      </div>

      <div class="form-group mb-3 position-relative">
        <label class="text-white mb-1">Email *</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
      </div>

      <button type="submit" class="btn btn-login w-100 mt-3" [disabled]="!form.valid">Submit</button>

      <div class="text-center mt-3">
        <a routerLink="/auth-login" class="text-warning text-decoration-none small">Login?</a>
      </div>
    </form>
  </div>
</div>

<!-- <footer class="text-center text-light py-3 small mt-4">
  © 2025 Yohan Coin. All Rights Reserved.
</footer> -->
