<app-menu-bar></app-menu-bar>

<div class="page-wrapper bg-wrapper">
    <div class="content" style="margin-top: -50px;">
        <div class="row p-4">
            <div class="col-md-12">
            <div class="col-md-12">
                <div class="buy-form">
                    <div class="row">
                            <div class="col-md-6">
                                <h4 class="page-title text-success">My Orders</h4>
                            </div>
                      </div>
              
                  <!-- Table -->
                  <div class="table-responsive">
                    <!-- Table -->
                      <table class="table table-striped custom-table mb-0">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Delivery Date</th>
                            <th>Status</th>
                            <!-- <th>Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data1; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.cdate }}</td>
                            <td> {{ item.product }}</td>
                            <td> <span class="text-primary" *ngIf="item.deliverytype == 'leader'">Leader To Delivery</span>
                               <span class="text-success" *ngIf="item.deliverytype == 'home'">Home Delivery</span></td>       
                            <td> {{ item.shiippingaddress }} - {{item.pincode}} </td>
                            <td>{{item.deliverdate}}</td>
                            <td>
                              <span class="badge badge-danger" *ngIf="item.transstatus === '0'">Pending</span>
                              <span class="badge badge-success" *ngIf="item.transstatus === '2'">Delivered</span>
                            </td>
                            <!-- <td>
                              <span class="btn btn-sm btn-success" *ngIf="item.topupstatus === '0'" >Activate Now</span>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>

                      

                  </div>
              
                  <!-- Pagination -->
                  
                </div>
              </div>

              

        </div>
    </div>
</div>

  